.ipynb_checkpoints
*.png
*.gif
*.mp4
*.svg
*.dat
*.pdf
Manifest.toml
/docs/build/
.vscode/
*.jld*
.DS_Store
*.txt
lotus_oop-master/*
*.log
slurm*
*.sh*
*#
*.vti
*.vtr
*.vts
*.vtu
*.vtp
*.vtm
*.pvd
*.pvt*
